.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1em;
    margin-top: 10%;
}
@media (max-width:991px){
    .container {
        grid-template-columns: 1fr;
    }   
}

#productAddToCartBtn{
    width: auto;
}

.info{
}

/* Informations sur le produit */
#productName{

}

#productImage {

    width: 20em;

}

#productPrice {

}

#productQuantity{

}

#productDescription {

}

#productAddToCartAnchor {

}

#productAddToCartBtn {

}
